* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Generic styling (colors, sizes, etc) */

.section-one, .section-two, .section-six {
    background-color: #1F2937;
    color: white;
    align-items: center;
}

.section-three, .section-five {
    background-color: white;
    align-items: center;
}

.section-four {
    background-color: #E5E7EB;
}

.sign-up-button {
    background-color: #3882f6;
    color: white;
    font-size: 16px;
    font-weight: 900;
    padding: 10px 35px;
    border-radius: 10px;
}

.hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    padding-bottom: 10px;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 10px;
}

.header-title {
    font-size: 24px;
    color: #F9FAF8;
}

.information-header-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
}

body {
    font-family: Roboto, sans-serif;
    padding: 0 200px;
    background-color: black;
}

section {
    display: flex;
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
}

/* Header Formatting */

.header {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    padding-top: 20px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

/* Section 2 formatting */

.section-two, .section-three, .section-four{
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-two {
    gap: 20px;
}

.img-placeholder {
    height: 240px;
    width: 1000px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #5d646e;

}

/* Section 3 formatting */

.icon-box {
    height: 175px;
    width: 175px;
    border: 4px #3882F6 solid;
    border-radius: 10px;
    margin-bottom: 10px;
}

.section-three {
    flex-direction: column;
}

.card-deck {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 175px;
}

.information-header-text {
    margin-top: -55px;
    margin-bottom: 50px;
}

/* Section 4 formatting */

.section-four {
    flex-direction: column;
    justify-content: center;
}

.quote-author {
    text-align: right;
    font-size: 24px;
    font-weight: 900;
    padding-right: 140px;
}

.quote {
    padding-left: 120px;
    padding-right: 120px;
}

/* Section 5 formatting */

.section-five {
    padding-top: 90px;
    padding-bottom: 90px;
}

.call-to-action {
    background-color: #3882f6;
    width: 100%;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.action-header {
    color: white;
    font-size: 20px;
    font-weight: 900;
}

.call-to-action>button {
    border-color: white;
}

/* Section 6 formatting (footer) */

.section-six {
    justify-content: center;
}

.footer {
    padding: 40px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1300px) {
    body {
        padding: 0;
    }
}